

$main-font: Roboto, sans-serif;

body,
html {
  font-family: $main-font;
  font-weight: 300;
  font-size: 100%;
  font-size: 20px;
  line-height: 1.6em;
  padding: 0;
  margin: 0;
  height: 100%;
}

em {
  font-style: italic;
}
.paragraph-ident p {
  text-indent: 1em;
  margin-bottom: 0;
}
.paragraph-ident p:first-child {
  text-indent: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
header {
  font-family: $main-font;
  line-height: 1.3em;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//overide bootstrap css
.btn {
  width: 100%;
}